*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color: black;
    color: white;
}
body{
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    border: 2px solid rgb(227, 227, 239);
}
.one-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.one-div h2{
    padding-bottom: 3px;
    font-size: 15px;
}
.two-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    line-height: 30px;
}
.two-div ul li{
    list-style: none;
}
.two-div ul li:hover{
    margin-left: 10px;
    transform: all 3s linear;
}
